@font-face {
    font-family: 'Torhok';
    src: url('TorhokItalic.woff2') format('woff2'),
        url('TorhokItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'A La Russ';
    src: url('ALaRuss.woff2') format('woff2'),
        url('ALaRuss.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

